@media screen and (min-width:1000px) {
    nav a img {
        width: 200px;
    }
    nav button {
        width: 150px;
        height: 40px;
    }
    .one p {
        width: 40vw;
    }
    .two img {
        width: 60vw;
    }
    .three {
        flex-direction: row;
        justify-content: space-around;
        margin: 200px 0;
    }
    .four,
    .five,
    .six {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .first,
    .second {
        width: 40vw;
    }
    .second img {
        width: 40vw;
    }
    .five,
    .eight {
        flex-direction: row-reverse;
    }
    .seven {
        margin: 100px 0;
    }
    .cnct img {
        width: 25px;
        padding: 0;
    }
    input {
        display: inline;
    }
    .eight .first button {
        left: 0;
    }
    .eight p {
        width: 30vw;
        margin: 35px 0;
    }
}